{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="col-12 text-center">
      <h1>Resumo estratégico - Afilio</h1>
      <p>{{anunciante.description}}</p>
    </div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-6 alert alert-secondary">
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">PID: {{anunciante.pid}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">Nome: {{anunciante.description}} </h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">Negociação: {{anunciante.role}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">Cadastro: {{anunciante.entrada}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">Liberada? {{anunciante.liberada}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">Data de liberação: {{anunciante.saida}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">Multitarifa: {{anunciante.multitarifa}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="text-align: center;">
					<h5 class="header_cpa">Extra info: {{anunciante.extra}}</h5>
				</div>
			</div>
		</div>
		<div class="col-6 alert alert-secondary"style="text-align: center;">
			<h5>Ficha de cadastro</h5><h5>{{anunciante.ficha}}</h5>
		</div>
	</div>
</div>
<script src="{{url_for('static', filename='js/script.js')}}"></script>
{% endblock %}
