{% extends 'base.html' %}
{% block content %}
<div class="container">
	<form action="{{url_for('afbase')}}" method="POST" class="formulario_new">
		<div class="col-12 form_padding">
			<input type="text" name="pid" placeholder="Pid (Ex.:2754)">
			<input type="text" name="partner" placeholder="Ex.:'casasbahia'">
			<input type="text" name="description" placeholder="Ex.:'Casas Bahia'">
		</div>
		<div class="col-12 form_padding">
			<select class="custom-select" name="role">
		  		<option selected>Negociação</option>
		  		<option value="1">CPA</option>
				<option value="2">CPL</option>
				<option value="3">CPC</option>
			</select>
		</div>
		<div class="col-12 form_padding">
			<select class="custom-select" name="multitarifa">
		  		<option selected>Multitarifa?</option>
		  		<option value="1">Sim</option>
				<option value="2">Não</option>
			</select>
		</div>
		<div class="col-12 form_padding">	
			<input type="text" name="extra" placeholder="Informações Extras">
		</div>
		<div class="col-12 form_padding">	
			<input type="text" name="ficha" placeholder="Ficha Cadastral">
		</div>
		<div class="col-12 form_padding">
			<button type="submit" class="btn btn-primary">Cadastrar Anunciante</button>
		</div>
	</form>
</div>

<div class="teste">
	
</div>


{% endblock %}