{% extends 'public_base.html' %}
{% block content %}
<div class="container">
	<div class="col-12 text-center">
      <div></div>
      <h1>Tracking Code & Pixel de Conversão - Afilio</h1>
      <p>{{anunciante.partner}}</p>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-9">
      <h4 class="header_cpa">Pixel de Conversão</h4>
      <span class="badge badge-info">Tag de conversão</span>
      <div class="alert alert-secondary">
        <code><span id="pixel_conversao_cpl">&lt;img src="https://secure.afilio.com.br/lead.php?pid={{anunciante.pid}}&order_id=<span class="pixel_conversao">#UNIQUE_ID#</span>" border="0" width="1" height="1"/&gt;</span></code>
      </div>        
    </div>
    <div class="col-3">
      <a href="#"><i id="btnCopyCpl" onclick="popSucesso()" class="far fa-copy fa-w-16 fa-2x" style="margin-top:50px; color:#26a1b6;"></i></a>
      <a href="#" data-toggle="modal" data-target="#modal_pixel_conversao_cpl"><i class="far fa-question-circle fa-w-16 fa-2x" style="margin-top:50px; color:#26a1b6;"></i></a>

      <!-- Modal Pixel de conversão -->
      <div class="modal fade" id="modal_pixel_conversao_cpl" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Pixel de conversão</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deve ser inserido na página de sucesso (Thank You). O mesmo fará a conversão para a nossa plataforma!</p>
              <hr>
              <h3>Parâmetros</h3>
              <hr>                 
              <h4>order_id:</h4><p>Deve ser preenchido com um ID ÚNICO, que não se repita, no final da validação, após a implementação, esse mesmo order_id deve ser comprovado via print (Do seu Google Analytics ou do seu sistema próprio de validação</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-9">
      <h4 class="header_cpa">Homepage</h4>
      <span class="badge badge-primary">Tag Genérica</span>
      <div class="alert alert-secondary">
        <code><span id="mastertag_homepage_cpl">&lt;script type="text/javascript" src="https://secure.afilio.com.br/mastertag.php?progid={{anunciante.pid}}&type=homepage&id_partner={{anunciante.partner}}&url_product=<span class="tag_generica">#URL_DA_PAGINA#</span>"&gt;&lt;/script&gt;</span></code>
      </div>
    </div>
    <div class="col-3">
      <a href="#"><i id="btnCopyHomeCpl" onclick="popSucesso()" class="far fa-copy fa-w-16 fa-2x" style="margin-top:50px;"></i></a>
      <a href="#" data-toggle="modal" data-target="#modal_mastertag_homepage_cpl"><i class="far fa-question-circle fa-w-16 fa-2x" style="margin-top:50px;"></i></a>

      <!-- Modal Pixel de conversão -->
      <div class="modal fade" id="modal_mastertag_homepage_cpl" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Mastertag Homepage</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deve ser inserida na página inicial (Landing). !</p>
              <hr>
              <h3>Parâmetros</h3>
              <hr>                 
              <h4>url_product:</h4><p>Deve ser populado com a variável que diz referência a página que a tag está implementada (homepage no caso da home), essa variável deve ser encodada (<a href="https://meyerweb.com/eric/tools/dencoder/">codificada</a>).</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-9">
      <h4 class="header_cpa">Basket</h4>
      <span class="badge badge-primary">Tag Genérica</span>
      <div class="alert alert-secondary">        
        <code><span id="mastertag_basket_cpl">&lt;script type="text/javascript" src="https://secure.afilio.com.br/mastertag.php?progid={{anunciante.pid}}&type=basket&id_partner={{anunciante.partner}}&url_product=<span class="tag_generica">#URL_DO_PRODUTO#</span>"&gt;&lt;/script&gt;</span></code>
      </div>
    </div>
    <div class="col-3">
      <a href="#"><i id="btnCopyBasketCpl" onclick="popSucesso()" class="far fa-copy fa-w-16 fa-2x" style="margin-top:50px;"></i></a>
      <a href="#" data-toggle="modal" data-target="#modal_mastertag_basket_cpl"><i class="far fa-question-circle fa-w-16 fa-2x" style="margin-top:50px;"></i></a>

      <!-- Modal Pixel de conversão -->
      <div class="modal fade" id="modal_mastertag_basket_cpl" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Mastertag Basket</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deve ser inserida na página de basket/carrinho!</p>
              <hr>
              <h3>Parâmetros</h3>
              <hr> 
              <h4>url_product:</h4><p>Deve ser populado com a variável que diz referência a página que a tag está implementada (categoria no caso da category), essa variável deve ser encodada (<a href="https://meyerweb.com/eric/tools/dencoder/">codificada</a>).</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <hr>
    
  <div class="row">
    <div class="col-9">
      <h4 class="header_cpa">Transaction</h4>
      <span class="badge badge-primary">Tag Genérica</span>
      <div class="alert alert-secondary">
        <code><span id="mastertag_transaction_cpl">&lt;script type="text/javascript" src="https://secure.afilio.com.br/mastertag.php?progid={{anunciante.pid}}&type=transaction&id_partner={{anunciante.partner}}&transaction_id=<span class="tag_generica">#ID_DO_PEDIDO#</span>&url_product=<span class="tag_generica">#URL_DA_PAGINA#</span>"&gt;&lt;/script&gt;</span></code>
      </div>
    </div>
    <div class="col-3">
      <a href="#"><i id="btnCopyTransactionCpl" onclick="popSucesso()" class="far fa-copy fa-w-16 fa-2x" style="margin-top:50px;"></i></a>
      <a href="#" data-toggle="modal" data-target="#modal_mastertag_transaction_cpl"><i class="far fa-question-circle fa-w-16 fa-2x" style="margin-top:50px;"></i></a>

      <!-- Modal Pixel de conversão -->
      <div class="modal fade" id="modal_mastertag_transaction_cpl" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalCenterTitle">Mastertag Transaction</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deve ser inserida na página de sucesso (Thank You)!</p>
              <p>A tag de Transaction é apenas para fins de retargeting, ela deve saltar JUNTO ao pixel de conversão, porém, somente o pixel fará a captação e a conversão dos valores.</p>
              <hr>
              <h3>Parâmetros</h3>
              <hr>                  
              <h4>transaction_id:</h4><p>Inserir o ID da transação.</p>
              <h4>url_product:</h4><p>Deve ser populado com a variável que diz referência a página que a tag está implementada (categoria no caso da category), essa variável deve ser encodada (<a href="https://meyerweb.com/eric/tools/dencoder/">codificada</a>).</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <script src="{{url_for('static', filename='js/scriptcpl.js')}}"></script>

        <div id="sucesso">Tag copiada!</div>
		<!--<h1>See some info about {{anunciante.partner}}</h1>
		{{anunciante.pid}} {{anunciante.description}} {{anunciante.role}}
		<a href="{{url_for('edit', pid=anunciante.pid)}}">Edit Anunciante</a> -->

{% endblock %}